.hero {
  text-align: center;
  padding: 0rem 2rem;
  margin-top: 0rem;
}

.hero-logo {
  margin-bottom: 0.2rem;
  margin-top: -4rem;
}

.hero-logo-img {
  width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero h1 {
  font-family: "Amatic SC", cursive;
  font-size: 8rem;
  margin-top: -7rem;
  margin-bottom: 0rem;
}

.get-started-btn {
  background-color: rgb(215, 191, 166);
  color: white;
  font-size: 1.2rem;
  direction: rtl;
  padding: 0.8rem 2rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2rem;
}

.get-started-btn:hover {
  background-color: #a6836c;
  transform: scale(1.03);
}
